body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 180%;
    
}

h1{
    margin: 50px auto 0 auto ;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
   line-height: 1.5;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem ;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    color: #11999E;
    

}

.top-container{
 
background-color: #C3F8FF;
position: relative;
padding-top: 100px;
}

.middle-container{
    background-color: #FEFCF3;
    padding-bottom: 50px;
}

.bottom-container{
    background-color: #66BFBF;
  margin: auto;
   
}

.links{padding-top: 50px;

    

    font-size: medium;
}

.linkedin-link{
    color: #11999E;
    margin-right: 10px;
}
.twitter-link{
    color: #11999E;
    margin-left: 10px;
}


.prgmeral{
    padding-bottom: 50px;
    padding-top: 20px;
    color: #EAF6F6;
    font-size: small;
}

.pro{
    text-decoration: underline;
    
}



.top-cloud{
position: absolute;
right:290px;
top: 50px;

}


 .bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 250px;
 }

 
.woman-pp{

    width: 200px;
    height: 200px;
}
.crochet-img{
    width: 25%;
    float: left;
    margin-right: 30px;
 
}


.kitty-img{
    width: 25%;
   float: right;
    margin-left: 30px;
   
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
hr{
    border-style: dotted;
    border-top-style: none;
    border-color: #EAF6F6;
    border-width: 11.5px;
    width: 5%;
    margin: 100px auto 100px auto
}


    .btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin: 50px auto 50px auto;
      }
      
      .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }


